<% block = @block %>
<%= form_with(model: block, method: :patch) do |form| %>
  <% if block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this challenge from being saved:</h2>
      <ul>
        <% block.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="advanced" style="display:none;">
    <div class="form-group">
      <%= form.label :css_classes %>
      <%= form.text_field :css_classes, class: 'form-control' %>
    </div>
  </div>

  <% b = "$('.block_#{block.id}_types,.block_#{block.id}_content,.block_#{block.id}_opts').toggle();return false;" %>
  <div class="form-group">
    <div class="block-opts block_<%= @block.id %>_ops text-right <%= 'position-absolute xt-50' if block.columns? %>">
      <div class="<%= 'position-absolute' unless block.columns? %> p-3" style="right:0;">
        <a href="#" class="btn btn-secondary mr-1" onclick="<%= b %>">&#x2699;</a>
        <a href="<%= block_path(block.id) %>" class="btn btn-light mr-1"
           data-turbo-frame="block_<%= block.id %>" data-turbo-method="delete">&times;</a>
      </div>
    </div>
    <div class="block_types block_<%= block.id %>_types <%= 'position-absolute xt-50' if block.columns? %>">
      <a href="#" class="btn btn-primary">Paragraph</a>
      <a href="#" class="btn btn-primary">Image</a>
      <%= link_to "Columns", makecolumns_block_path(block), class: 'btn btn-primary' %>
<!--      <a href="" class="btn btn-primary">Columns</a>-->
      <a href="#" class="btn btn-primary">CSS</a>
      <a href="#" class="btn btn-primary" onclick="<%= b %>">Cancel</a>
    </div>
    <div class="block_content block_<%= block.id %>_content">
      <%= form.rich_text_area :content unless (block.content.empty? && (block.block_type=="columns")) %>
    </div>
  </div>

  <div class="actions">
    <%#= form.submit %>
<!--    <button type="submit" class="btn btn-primary" action="submit" name="save">Save</button>-->
  </div>
<% end %>