<% block = @block %>
<%= form_with(model: block, method: :patch) do |form| %>
  <% if block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this challenge from being saved:</h2>
      <ul>
        <% block.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="advanced" style="display:none;">
    <div class="form-group">
      <%= form.label :css_classes %>
      <%= form.text_field :css_classes, class: 'form-control' %>
    </div>
  </div>

  <% b = "$('.block_#{block.id} .block_types, .block_#{block.id} .block_content').toggle();return false;" %>
  <div class="form-group">
    <div class="block-opts text-right position-relative">
      <div class="position-absolute p-3" style="right:0;">
        <a href="#" class="btn btn-secondary mr-1" onclick="<%= b %>">&#x2699;</a>
        <a href="<%= block_path(block.id) %>" class="btn btn-light mr-1"
           data-turbo-frame="block_<%= block.id %>" data-turbo-method="delete">&times;</a>
      </div>
    </div>
    <div class="block_types">
      <a href="#" class="btn btn-primary">Paragraph</a>
      <a href="#" class="btn btn-primary">Image</a>
      <a href="#" class="btn btn-primary">Columns</a>
      <a href="#" class="btn btn-primary">CSS</a>
      <a href="#" class="btn btn-primary" onclick="<%= b %>">Cancel</a>
    </div>
    <div class="block_content">
      <%= form.rich_text_area :content %>
    </div>
  </div>

  <div class="actions">
    <%#= form.submit %>
<!--    <button type="submit" class="btn btn-primary" action="submit" name="save">Save</button>-->
  </div>
<% end %>