<%= form_with(model: page, method: :patch) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this challenge from being saved:</h2>
      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div>
    <a href="#" onclick="$('.advanced').toggle();return false;">Advanced Options</a>
  </div>

  <div class="advanced" style="display:none;">
    <div class="form-group">
      <%= form.label :seo_title %>
      <%= form.text_field :seo_title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :url %>
      <%= form.text_field :url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :redirect_to %>
      <%= form.text_field :redirect_to, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :css_classes %>
      <%= form.text_field :css_classes, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%#= form.submit %>
    <button type="submit" class="btn btn-primary" action="submit" name="save">Save</button>
  </div>
<% end %>

<div class="page_<%= @page.id %>_blocks card mt-4 mb-4">
  <%= render partial: 'rhino/blocks/index', page: @page %>
</div>

<script>
  var FormMagic = {}
  FormMagic.initialize = function () {
    if ($("#page_seo_title").val() == $("#page_title").val()) {
      $("#page_seo_title").addClass('follows')
    }
    if ($("#page_url").val() == FormMagic.title_to_url()) {
      $("#page_url").addClass('follows')
    }
    $("#page_title").on("change",FormMagic.change_title);
    $("#page_seo_title").on("keypress",function() {$("#page_seo_title").removeClass('follows')});
    $("#page_url").on("keypress",function() {$("#page_url").removeClass('follows')});
    $("#page_seo_title").on("change",function() {$("#page_seo_title").val()==''&&($("#page_seo_title").val($("#page_title").val()),$("#page_url").addClass('follows'))})
    $("#page_url").on("change",function() {$("#page_url").val()==''&&($("#page_url").val(FormMagic.title_to_url()),$("#page_url").addClass('follows'))})
  }
  FormMagic.change_title = function () {
    if ($("#page_seo_title").attr('class').indexOf('follows') >= 0) {
      $("#page_seo_title").val($("#page_title").val());
    }
    if ($("#page_url").attr('class').indexOf('follows') >= 0) {
      $("#page_url").val(FormMagic.title_to_url());
    }
  }
  FormMagic.title_to_url = function () {
    var url = $("#page_title").val().toLowerCase();
    url = url.replace(/[^a-z0-9]/gi, '-');
    return url;
  };
  FormMagic.post_blocks = function () {
    FormMagic.post_form('blocks');
    FormMagic.post_form('pages');
  }
  FormMagic.post_form = function (name) {
    $("form").each(function (i) {
      var b = $(this);
      var url = b.attr('action')
      if (url.indexOf(name) < 0) {
        return
      }
      $(this).find('button').click()
    });
  }
  FormMagic.eachx = function () {
    $("form").each(function (i) {
      var b = $(this);
      var url = b.attr('action')
      if (url.indexOf('blocks') < 0) {
        return
      }
      var data = $(this).serializeArray().reduce(function(obj, item) {
        obj[item.name] = item.value;
        return obj;
      }, {});
      $.ajax({
        url: url,
        method: 'post'
      })
    });
  };
  (function(){var r = setInterval(function(){"undefined"!=typeof $&&(clearInterval(r),FormMagic.initialize())},300);})();

</script>