<%= turbo_frame_tag @page do %>
  <h3>
    Editing Page
    <li class="d-inline-block mb-0 rem1" style="font-size:1rem;"><a href="/<%= @page.url %>" target="_blank"><i class="fas fa-external-link"></i></a></li>
  </h3>

  <div class="fixed-top p-2 bg-light text-right pr-4 page_options">
    <a href="#" onclick="FormMagic.post_blocks();return false;" class="btn btn-secondary">Save Draft</a>
    <a href="#" onclick="FormMagic.post_blocks();return false;" class="btn btn-primary">Publish</a>
  </div>

  <div class="edit_page">
    <%= render 'form', page: @page %>
  </div>

  <div class="pt-4">
    <%= link_to 'Show', @page %> |
    <%= link_to 'Back', pages_path %>
  </div>

<% end %>
<style>
  .edit_page textarea {
    border: 1px solid #FFF;
  }
  .edit_page textarea:hover {
    border: 1px solid #CCC;
  }
</style>